@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');

html {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: small;
  min-height: 100vh;
}

h1, h2, h3 {
  font-weight: normal;
  font-size: x-large
}

.app, .firstPart {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: no-repeat;
  background-size: cover;
}
.app {
  min-height: 100vh;
}
.firstPart {
  height: auto;
}

.currentCity {
  margin: 0 0 20px 0;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.date {
  font-size: large;
}

.weather_now {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  width: 184px;
  height: 184px;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
  margin-top:25px;
}

.icon {
  margin: 20px 20px 20px 0;
  width: 50px;
  height: 50px;
  filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(108deg) brightness(106%) contrast(101%);
  color: black
}

.degree, .status {
  text-align: center;
}

.degree {
  font-size: xxx-large;
  margin: 5px 0;
}

.status {
  font-size: medium;
}

.degreePreview {
  font-size: large;
  margin: 5px 0;
}

.headline {
  margin: 20px 0;
}

.nextHours, .nextDays, .fullDay{
  display: flex;
  justify-items: center;
  width: 80vw;
  max-width: 525px;
  height: 80px;
  overflow: auto;
  scroll-snap-type: x mandatory;
  margin: 0;
  padding: 0;
}

.nextDays {
  flex-shrink: 0;
  flex-grow: 0;
}
.nextHours::-webkit-scrollbar, .nextDays::-webkit-scrollbar, .fullDay::-webkit-scrollbar{
  background: transparent;
  height: 5px;
}
.nextHours::-webkit-scrollbar-thumb {
  background: rgba(0,0,0, 0.4);
  border-radius: 5px;
}

.previewCard {
  height: 70px;
  min-width: 70px;
  margin-right: 5px;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 12px;
  text-align: center;
  border: none;
  color: white;
  scroll-snap-align: start;
}
.nextDays .previewCard {
  cursor: pointer;
}
.nextDays .previewCard:active {
  opacity: 0.8;
}

.hourCast:first-child, .dayCast:first-child {
  border-left: none;
}

.previewCard *{
  width: 100%;
  text-align: center;
}

.arrows {
  display: flex;
  justify-content: space-around;
}
.forward, .backward {
  border: none;
  color: white;
  background-color: rgba(0,0,0, 0);
}
.forward {
  margin-left: 10px;
}
 .backward {
  margin-right: 10px;
}

.currentDay {
  background: rgba(0, 0, 0, 0.9)
}

.statusPreview {
  font-size: x-small;
}

.citySearch {
  height: 25px;
  margin: 0;
  color: white;
  background-color: rgb(0 0 0 / 25%);
  border: none;
  border-radius: 5px;
  text-align: center;
}
::placeholder {
  color: rgb(255 255 255 / 70%)
}

.footer {
  height: 20px;
  margin-top: auto;
  padding: 0;
}

.loader-wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader {
  z-index: 1;
  border: 13px solid #f3f3f3;
  border-top: 13px solid #3498db;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
  color: #48ff00;
}

.screen-overlay {
  box-shadow: inset 100vw 100vh rgb(0 0 0 / 25%);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}